@layout("/common/_container.html"){
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="hr-line-dashed"></div>
                        <div class="col-sm-12">
                            <#NameCon id="condition" name="文件名称" placeholder="Searching"/>
                        </div>
                        <div class="col-sm-10 col-sm-offset-1">
                            <#button name="搜索" icon="fa-search" clickFun="Activity.search()"/>
                            <#button name="重置" icon="fa-trash" clickFun="Activity.resetSearch()" space="true"/>
                        </div>
                    </div>
                    <div class="file-manager">
                        @if(shiro.hasPermission("/blackboard/file/add")){
                         <div class="hr-line-dashed"></div>
                                <button class="btn btn-primary btn-block">上传文件</button>
                            <div class="hr-line-dashed"></div>
                        @}
                        <h5>分类</h5>
                        <ul class="folder-list" style="padding: 0">
                            <li><a href="file_manager.html"><i class="fa fa-file-o"></i> 文件</a>
                            </li>
                            <li><a href="file_manager.html"><i class="fa fa-picture-o"></i> 图片</a>
                            </li>
                            <li><a href="file_manager.html"><i class="fa fa-folder"></i> 相册集</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10 animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <!--文件列表-->
                    <div class="file-box">
                        <div class="file">
                            <a href="file_manager.html#">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="file-name">
                                    Document_2014.doc
                                    <br/>
                                    <small>添加时间：2014-10-13</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--文件列表结束-->
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('.file-box').each(function () {
            animationHover(this, 'pulse');
        });
    });
</script>


@}