@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>社团一览</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="社团名称" />
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="clubCategory" name="社团分类">
                                    <option value="">请选择...</option>
                                    <option value="1">体育竞技类</option>
                                    <option value="2">文化艺术类</option>
                                    <option value="3">兴趣拓展类</option>
                                    <option value="4">学术服务类</option>
                                    <option value="5">理论实践类</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Dept.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="Dept.resetSearch()" space="true"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="DeptTableToolbar" role="group">
                            @if(tool.isEmpty(academy)){
                                <#button name="请先完善个人信息" icon="fa-plus" clickFun=""/>
                            @}
                            @else{
                                <#button name="申请加入" icon="fa-plus" clickFun="Dept.applyClub()"/>
                            @}
                        </div>
                        <#table id="DeptTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/dept/club.js"></script>
@}
