<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.maxcj.modular.system.dao.ActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.maxcj.modular.system.model.Activity">
        <id column="activity_id" property="activityId"/>
        <result column="activity_category" property="activityCategory"/>
        <result column="activity_name" property="activityName"/>
        <result column="activity_place" property="activityPlace"/>
        <result column="activity_start_time" property="activityStartTime"/>
        <result column="activity_end_time" property="activityEndTime"/>
        <result column="activity_club" property="activityClub"/>
        <result column="activity_person" property="activityPerson"/>
        <result column="activity_creat_time" property="activityCreatTime"/>
        <result column="activity_state" property="activityState"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        activity_id, activity_category, activity_name, activity_place, activity_start_time, activity_end_time, activity_club, activity_person, activity_creat_time, activity_state
    </sql>

    <select id="tree" parameterType="java.lang.Integer" resultType="map">
        select activity_id as id, activity_name as name from sys_activity
		where activity_club = #{deptId}
		order by activity_creat_time DESC
    </select>

    <select id="activity_list" resultType="map">
        select * from sys_activity a LEFT JOIN sys_dept d on a.activity_club = d.id where a.activity_state = '3'
        <if test="condition != null and condition != ''">
            and (a.activity_name like CONCAT('%',#{condition},'%') or d.simplename like CONCAT('%',#{condition},'%') or d.fullname like CONCAT('%',#{condition},'%'))
        </if>
        <if test="activity_category != null and activity_category != 0 and activity_category !=''">
            and a.activity_category = #{activity_category}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and a.activity_start_time > CONCAT(#{beginTime},' 00:00:00')
        </if>
        order by a.activity_start_time DESC
    </select>

    <select id="activity_apply" resultType="map">
        select * from sys_activity where activity_state = '2'
        <if test="condition != null and condition != ''">
            and activity_name like CONCAT('%',#{condition},'%')
        </if>
        <if test="activity_category != null and activity_category != 0 and activity_category !=''">
            and activity_category = #{activity_category}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and activity_start_time > CONCAT(#{beginTime},' 00:00:00')
        </if>
        order by activity_start_time DESC
    </select>

    <select id="activity_history" resultType="map">
        select * from sys_activity where activity_state > '2'
        <if test="condition != null and condition != ''">
            and activity_name like CONCAT('%',#{condition},'%')
        </if>
        <if test="activity_category != null and activity_category != 0 and activity_category !=''">
            and activity_category = #{activity_category}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and activity_start_time > CONCAT(#{beginTime},' 00:00:00')
        </if>
        <if test="state != null and state != '' and state!='0'">
            and activity_state = #{state}
        </if>
        order by activity_start_time DESC
    </select>

    <select id="club_activityNum" resultType="map">
        select activity_club,count(DISTINCT activity_id) as activity_num from sys_activity
        <where>
            activity_state = '3'
        </where>
        group by activity_club
    </select>

    <select id="activity_clublist" parameterType="java.lang.Integer" resultType="map">
        select * from sys_activity
        where activity_club = #{deptid}
        <if test="condition != null and condition != ''">
            and activity_start_time >= CONCAT(#{condition},' 00:00:00')
        </if>
        order by activity_start_time DESC
    </select>

    <select id="activity_club" parameterType="java.lang.Integer" resultType="map">
        select * from sys_activity
        where activity_club = #{deptid}
        and activity_state = '3'
        <if test="condition != null and condition != ''">
            and activity_name like CONCAT('%',#{condition},'%')
        </if>
        order by activity_start_time DESC
    </select>

    <select id="getActivityName" parameterType="java.lang.Integer" resultType="java.lang.String">
        select activity_name from sys_activity where activity_id = #{activity_id}
    </select>
</mapper>
