<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.maxcj.modular.system.dao.ActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.maxcj.modular.system.model.Activity">
        <id column="activity_id" property="activityId"/>
        <result column="activity_category" property="activityCategory"/>
        <result column="activity_name" property="activityName"/>
        <result column="activity_place" property="activityPlace"/>
        <result column="activity_start_time" property="activityStartTime"/>
        <result column="activity_end_time" property="activityEndTime"/>
        <result column="activity_club" property="activityClub"/>
        <result column="activity_person" property="activityPerson"/>
        <result column="activity_creat_time" property="activityCreatTime"/>
        <result column="activity_state" property="activityState"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        activity_id, activity_category, activity_name, activity_place, activity_start_time, activity_end_time, activity_club, activity_person, activity_creat_time, activity_state
    </sql>

    <select id="activity_list" resultType="map">
        select * from sys_activity
        <if test="condition != null and condition != ''">
            where activity_name like CONCAT('%',#{condition},'%')
        </if>
        <!--<if test="activity_category != null and activity_category !=''">
            and activity_category like CONCAT('%',#{activity_category},'%')
        </if>-->
        order by activity_start_time DESC
    </select>

    <!--<select id="club_activityNum" resultType="map">
        select activity_club,count(DISTINCT activity_id) as activity_num from sys_activity
        <where>
            activity_state > '5'
        </where>
        group by activity_club
    </select>-->

</mapper>
