<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.maxcj.modular.system.dao.ApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.maxcj.modular.system.model.Apply">
        <id column="id" property="id" />
        <result column="userid" property="userid" />
        <result column="deptid" property="deptid" />
        <result column="applytime" property="applytime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userid, deptid, applytime
    </sql>

    <select id="list" resultType="map">
        select <include refid="Base_Column_List"></include> from sys_apply where agree = "0"
    </select>

    <select id="listByDeptid" parameterType="java.lang.Integer" resultType="map">
        select a.* from sys_apply a left join sys_user u on a.userid = u.id where a.deptid = #{deptid} and a.agree = "0"
        <if test="con != null and con != ''">
            and u.name like CONCAT('%',#{con},'%')
        </if>
    </select>

    <select id="applys" parameterType="java.lang.Integer" resultType="cn.maxcj.modular.system.model.Apply">
        select <include refid="Base_Column_List"></include> from sys_apply where deptid = #{deptid} and agree = "0"
    </select>

    <select id="apply_exist" parameterType="java.lang.Integer" resultType="cn.maxcj.modular.system.model.Apply">
        select * from sys_apply where userid = #{userid} and agree = "0"
    </select>

</mapper>
