<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.maxcj.modular.system.dao.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.maxcj.modular.system.model.Dept">
        <id column="id" property="id"/>
        <result column="num" property="num"/>
        <result column="pid" property="pid"/>
        <result column="pids" property="pids"/>
        <result column="simplename" property="simplename"/>
        <result column="fullname" property="fullname"/>
        <result column="tips" property="tips"/>
        <result column="version" property="version"/>
    </resultMap>

    <select id="tree" resultType="cn.maxcj.core.common.node.ZTreeNode">
		select id,pid as pId,simplename as name,
		(
		CASE
		WHEN (pId = 0 OR pId IS NULL) THEN
		'true'
		ELSE
		'false'
		END
		) as isOpen from sys_dept
	</select>

    <select id="clubtree" parameterType="java.lang.Integer" resultType="cn.maxcj.core.common.node.ZTreeNode">
        select id,pid as pId,simplename as name,
		(
		CASE
		WHEN (pId = 0 OR pId IS NULL) THEN
		'true'
		ELSE
		'false'
		END
		) as isOpen from sys_dept
		where id = #{deptId}
    </select>

    <select id="sheliantree" resultType="cn.maxcj.core.common.node.ZTreeNode">
        select id,pid as pId,simplename as name from sys_dept
        WHERE pid = "24"
    </select>

    <select id="list" resultType="map">
        select * from sys_dept where pid in ('0','24', '38')
        <if test="condition != null and condition != ''">
            and (simplename like CONCAT('%',#{condition},'%') or fullname like CONCAT('%',#{condition},'%'))
        </if>
        order by num ASC
    </select>

    <select id="clublist" resultType="map">
        select * from sys_dept where pid = "38"
        <if test="condition != null and condition != ''">
            and (simplename like CONCAT('%',#{condition},'%') or fullname like CONCAT('%',#{condition},'%'))
        </if>
    </select>

    <select id="club_son" resultType="cn.maxcj.modular.system.model.Dept">
        select * from sys_dept where pid = #{deptid}
    </select>

    <select id="clublistWithcategoryId" parameterType="java.lang.Integer" resultType="map">
        select * from sys_dept d LEFT JOIN sys_clubinfo i ON d.id = i.deptid
        where d.pid = "38" and i.club_category = #{categoryId}
        <if test="condition != null and condition != ''">
            and d.simplename like CONCAT('%',#{condition},'%') or d.fullname like CONCAT('%',#{condition},'%')
        </if>
    </select>

    <select id="allclub" resultType="map">
        select * from sys_dept d LEFT JOIN sys_clubinfo i ON d.id = i.deptid where d.pid = "38"
        <if test="condition != null and condition != ''">
            and d.simplename like CONCAT('%',#{condition},'%') or d.fullname like CONCAT('%',#{condition},'%')
        </if>
        <if test="clubCategory != null and clubCategory != ''">
            and i.club_category = #{clubCategory}
        </if>
    </select>
</mapper>
