@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="messageInfoForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-6">
                        <#input id="username" name="姓名" underline="true"/>
                    </div>
                    <div class="col-sm-6">
                        <#input id="title" name="留言标题" underline="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">内容</label>
                    <div class="col-sm-11">
                        <div id="editor" class="editorHeight">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MessageInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MessageInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="${ctxPath}/static/js/plugins/wangEditor/wangEditor.js"></script>
<script src="${ctxPath}/static/modular/system/message/message_info.js"></script>
@}
