@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>活动报名管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <#NameCon id="condition" name="社团名称/社团活动名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Join.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="JoinTableToolbar" role="group">
                            @if(shiro.hasPermission("/join/update")){
                                <#button name="修改报名状态" icon="fa-edit" clickFun="Join.openJoinDetail()" space="true"/>
                            @}
                        </div>
                        <#table id="JoinTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/join/join.js"></script>
@}
