@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>所有社团活动管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-10 col-sm-9">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3">
                                        <#NameCon id="condition" name="社团活动名称" placeholder="社团活动名称"/>
                                    </div>
                                    <div class="col-lg-2 col-sm-2">
                                        <#SelectCon id="activity_category" name="活动类别">
                                            <option value="0">全部</option>
                                            <option value="1">常规活动</option>
                                            <option value="2">重大活动</option>
                                        </#SelectCon>
                                    </div>
                                    <div class="col-lg-2 col-sm-2">
                                        <#SelectCon id="state" name="审批状态">
                                            <option value="0">全部</option>
                                            <option value="3">同意</option>
                                            <option value="4">拒绝</option>
                                        </#SelectCon>
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <#TimeCon id="beginTime" name="活动开始时间" placeholder="社团活动开始时间"/>
                                    </div>
                                    <div class="col-lg-2 col-sm-2">
                                        <#button name="搜索" icon="fa-search" clickFun="Activity.search()"/>
                                        <#button name="重置" icon="fa-trash" clickFun="Activity.resetSearch()" space="true"/>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- 此页面为活动审批页面 -->
                    <div class="hidden-xs" id="ActivityTableToolbar" role="group">
                        @if(shiro.hasPermission("/activity/apply_again")){
                        <#button name="重新审批" icon="fa-check" clickFun="Activity.apply_again()"/>
                        @}
                    </div>
                    <#table id="ActivityTable"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="${ctxPath}/static/modular/system/activity/activity_history.js"></script>
<script>
    laydate.render({
        elem: '#beginTime'
    });
</script>
@}