@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="activityName" name="活动名称" underline="true"/>
                    <#input id="activityPlace" name="活动地点" underline="true"/>
                    <#SelectCon id="activityCategory" name="活动类别" underline="true">
                        <option value="1">常规活动</option>
                        <option value="2">重大活动</option>
                    </#SelectCon>
                </div>
                <div class="col-sm-6">
                    <#input id="activityStartTime" name="开始时间" underline="true"/>
                    <#input id="activityEndTime" name="结束时间" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ActivityInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ActivityInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/activity/activity_info.js"></script>
<script>
    laydate.render({
        elem: '#activityEndTime'
    });
    laydate.render({
        elem: '#activityStartTime'
    });
</script>
@}
